name: CI

on:
  pull_request:
    branches:
      - "**"

jobs:
  test:
    name: Go test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.17"
      - name: Run tests
        run: go test ./...
